<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shop Record Directory</title>
  <!-- template from bootstrap-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <h3>Store List Directory</h3>
  <!-- hr: defines a thematic break in an HTML page -->
  <hr>
  <!-- Add a button -->
  <a th:href="@{/shoprecord/showFormForAddStore}"
     class="btn btn-primary btn-sm mb-3">
    Add Store
  </a>
  <a th:href="@{/shoprecord/searchFormForStore}"
     class="btn btn-primary btn-sm mb-3">
    Search Store
  </a>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>Store Name</th>
      <th>Rank</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <!--for each loop tempshoplist.entity's attribute -->
    <tr th:each="tempStoreList : ${stores}">
      <td th:text="${tempStoreList.store}"/>
      <td th:text="${tempStoreList.rank}"/>

      <!-- Add update button Link -->
      <td>
        <a th:href="@{/shoprecord/showFormForStoreUpdate(storeId=${tempStoreList.id})}"
           class="btn btn-info btn-sm">
          Update
        </a>
        <!-- add delete button/ link -->
        <a th:href="@{/shoprecord/deleteStore(storeId=${tempStoreList.id})}"
           class="btn btn-danger btn-sm"
           onclick="if (!(confirm('Are you sure you want to delete this store?'))) return false">
          Delete
        </a>
      </td>
    </tr>

    </tbody>
  </table>
  <hr>
  <a th:href="@{/shoprecord/list}" class="btn btn-primary btn-sm mb-3">Back to List</a>
</div>

</body>
</html>